<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password - NSS SocialSync</title>
  <link rel="stylesheet" href="/css/forgot-password.css">
  <link rel="stylesheet" href="/css/register.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Julius+Sans+One&family=Jura:wght@700&display=swap"
    rel="stylesheet">
</head>

<body>
  <main class="page">
    <header class="header">
      <img src="/images/logo.jpeg" alt="NSS SocialSync Logo" class="logo" />
    </header>
    <h1 class="title">Forgot password</h1>
    <section class="container">
      <form class="form" method="POST" action="/reset-password">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" name="email" class="form-input" placeholder="Enter email" required>
        <label for="new-password" class="form-label">New Password</label>
        <div class="password-container">
          <input type="password" id="new-password" name="newPassword" class="form-input"
            placeholder="Enter new password" required>
          <i class="fa-solid fa-eye toggle-password" data-target="new-password" onclick="togglePassword(this)"></i>
        </div>

        <label for="confirm-password" class="form-label">Confirm Password</label>
        <div class="password-container">
          <input type="password" id="confirm-password" name="confirmPassword" class="form-input"
            placeholder="Enter confirm password" required>
          <i class="fa-solid fa-eye toggle-password" data-target="confirm-password" onclick="togglePassword(this)"></i>
        </div>

        <button type="submit" class="button">Submit</button>
      </form>
    </section>
  </main>
  <script>
    function togglePassword(element) {
      const inputId = element.getAttribute("data-target");
      const input = document.getElementById(inputId);
      const type = input.getAttribute("type") === "password" ? "text" : "password";
      input.setAttribute("type", type);

      // Toggle icon
      element.classList.toggle("fa-eye");
      element.classList.toggle("fa-eye-slash");
    }
  </script>
</body>

</html>