/* Remember me container */
.remember-container {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 11px;
  font-size: 18px;
}

/* Remember checkbox */
.remember-checkbox {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(196, 95, 49, 1);
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
 
}

.remember-checkbox:checked::after {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(196, 95, 49, 1);
  font-size: 16px;
}

/* Remember me label */
.remember-label {
  cursor: pointer;
}

/* Links container */
.login-links {
  align-self: flex-start;
  display: flex;
  margin: 20px 0 0 0;
  flex-direction: column;
  align-items: stretch;
  font-size: 20px;
  color: rgba(47, 137, 125, 1);
}

/* Forgot password link */
.forgot-password-link {
  align-self: flex-start;
  color: rgba(47, 137, 125, 1);
  text-decoration: none;
}

.forgot-password-link:hover {
  text-decoration: underline;
}

/* Register prompt */
.register-prompt {
  margin-top: 10px;
}

/* Register text */
.register-text {
  color: rgba(47, 74, 85, 1);
}

/* Register link */
.register-link {
  color: rgba(47, 137, 125, 1);
  text-decoration: none;
  margin-left: 5px;
}

.register-link:hover {
  text-decoration: underline;
}

