<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="../static/css/sign-up.css" />
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Jura:wght@700&family=Roboto&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  />
  
  </head>
  <body>
    <main class="signup-page">
      <header class="header">
        <img src="../static/images/logo.jpeg" alt="NSS SocialSync Logo" class="logo" />
      </header> 
      
      <h1 class="signup-title">SIGN UP</h1>
      <section class="signup-section">
        <form class="signup-form" method="POST" action="/api/auth/signup">
          
            <label class="form-label" for="name">Name</label>
            <input type="text" class="form-input" id="name" name="username" placeholder="Enter your name" />
            <label class="form-label" for="email-id" >Email ID</label>
            <input type="email" class="form-input" id="email-id" name="email" placeholder="Enter your email"/>
            <label class="form-label" for="password">Password</label>
            <div class="password-container">
            <input type="password" class="form-input" id="password" name="password" placeholder="Enter password"/>
            <i class="fa-solid fa-eye toggle-password" onclick="togglePassword()"></i>
          </div>
          <button type="submit" class="signup-button">Sign Up</button>
          <div class="existing-user-container">
          <p class="login-text">
            Existing User? <a href="./index.html" class="login-link">Login here</a>
          </p>
        </div>
        </form>
      </section>
    </main>
    <script src="./js/sign-up.js"></script>
  </body>
</html>
