<!-- sidebar.html -->
<aside class="sidebar">
  <nav class="navigation">
    <a href="/index" class="nav-item">
      <div class="nav-content">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/840b79c80a414db1a65c384b8b9735f2/b1374010b4473eac36a0d45b0d1473fd4f448970?placeholderIfAbsent=true"
          alt="Dashboard" class="nav-icon">
        <span class="nav-text">Dashboard</span>
      </div>
    </a>
    <a href="/profile" class="nav-item">
      <div class="nav-content">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/840b79c80a414db1a65c384b8b9735f2/2946857d7cd87724c558561ee00ff8cc516ab52b?placeholderIfAbsent=true"
          alt="Profile" class="nav-icon">
        <span class="nav-text">Profile</span>
      </div>
    </a>

    <a href="/news-feed" class="nav-item">
      <div class="nav-content">
        <img
          src="/images/news.png"
          alt="Profile" class="nav-icon">
        <span class="nav-text">News Feed</span>
      </div>
    </a>

    <a href="/add-event" class="nav-item">
      <div class="nav-content">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/840b79c80a414db1a65c384b8b9735f2/b854a6676ccc76ba51c476e376cf6bacbb293200?placeholderIfAbsent=true"
          alt="Add Event" class="nav-icon">
        <span class="nav-text">Add Event</span>
      </div>
    </a>
    <a href="/upcoming-events" class="nav-item">
      <div class="nav-content">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/840b79c80a414db1a65c384b8b9735f2/9d62c035d760caffbfe5312a76824a61dd91ea94?placeholderIfAbsent=true"
          alt="Upcoming Events" class="nav-icon">
        <span class="nav-text">Upcoming Events</span>
      </div>
    </a>
    <a href="/past-events" class="nav-item">
      <div class="nav-content">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/840b79c80a414db1a65c384b8b9735f2/5e0c2524d891376b745f177635e93b85c87802e6?placeholderIfAbsent=true"
          alt="Past Events" class="nav-icon">
        <span class="nav-text">Past Events</span>
      </div>
    </a>
    <a href="/attendance-records" class="nav-item">
      <div class="nav-content">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/840b79c80a414db1a65c384b8b9735f2/64c49790b20fccef45134ca22c3ff033380ef1a5?placeholderIfAbsent=true"
          alt="View Attendance Records" class="nav-icon">
        <span class="nav-text">View Attendance Records</span>
      </div>
    </a>
    <a href="/reports" class="nav-item">
      <div class="nav-content">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/840b79c80a414db1a65c384b8b9735f2/001e0f2ddf934350448d0753355dfb5613e1c019?placeholderIfAbsent=true"
          alt="Reports" class="nav-icon">
        <span class="nav-text">Reports</span>
      </div>
    </a>
    <a href="/mark-attendance" class="nav-item">
      <div class="nav-content">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/840b79c80a414db1a65c384b8b9735f2/10e29c5b761f1d9bc5a7aea7524ce4ca40605b2f?placeholderIfAbsent=true"
          alt="Mark Attendance" class="nav-icon">
        <span class="nav-text">Mark Attendance</span>
      </div>
    </a>

    <a href="/manage-users" class="nav-item">
      <div class="nav-content">
        <img
          src="/images/group.png"
          alt="Manage Users" class="nav-icon">
        <span class="nav-text">Manage Users</span>
      </div>
    </a>

  


  </nav>
</aside>